{% extends "base.html" %}
{% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <div class="container" style="width: 1200px;  margin: 0 auto; padding-left: 0px; padding-right: 0px">
    
      <div class="leftCol" style="text-align: center; width: 280px; height: 600px; float: left; margin: 10px;">
        <!-- pilot mode/recording -->
        <form>
          <label>Mode</label>
          <select id="mode_select" class="form-control"  style="display: inline">
            <option value="user">User</option>
            <option value="local">Full Auto</option>
            <option value="local_angle">Auto Steer</option>
          </select>
          <button type="button" id="record_button" class="btn btn-info" >
            Start Recording
          </button>
        </form>
      </br>


      <!-- programmable buttons -->
        <form id="button_bar">
          <button type="button" id="w1" class="btn btn-info">1</button>
          <button type="button" id="w2" class="btn btn-info">2</button>
          <button type="button" id="w3" class="btn btn-info">3</button>
          <button type="button" id="w4" class="btn btn-info">4</button>
          <button type="button" id="w5" class="btn btn-info">5</button>
        </form>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>

        <div>
          <label class="group-label" style="display: inline">Throttle:</label>
          <select id="throttle_mode_select" class="form-control" style="display: inline">
            <option value="user" selected>Maximum</option>
            <option value="constant">Constant</option>
          </select>
          <form id="speedRange" class="slide-container" style="margin-top: 10px" oninput="output.value = parseInt(slider.value)/100">
            <input
                    type="range"
                    min="0"
                    max="100"
                    value="50" 
                    class="slider"
                    id="slider"
                                      
            />
            <output id="output" name="output" for="slider"></output>
            
          </form>
        </div>
      </br>
   
        <div>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" id="joystick-toggle">
              <input type="radio" name="controlMode" id="joystick" autocomplete="off" value="joystick"> Joystick
            </label>
            <label class="btn btn-primary" id="gamepad-toggle">
              <input type="radio" name="controlMode" id="gamepad" autocomplete="off" value="gamepad"> Gamepad
            </label>
            <label class="btn btn-primary" id="tilt-toggle">
              <input type="radio" name="controlMode" id="tilt" autocomplete="off" value="tilt">Device Tilt
            </label>
          </div>
          <label class="group-label" style="display: inline">
            <a data-toggle="modal" class="btn btn-primary btn-xs" data-target="#aboutControlModes">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </label>
        </div>
      </div>
      <div class = "midCol" style="text-align: center; width: 600px; height: 600px; float: left;">
        <!-- video -->
        <div class="thumbnail" style="height:400px;">
          <img id='mpeg-image', class='img-responsive' src="/video" style="height:390px; padding:5px"/> </img>
        </div>
        <div id="joystick-column" class="middleCol" style="width: 600px;">
        <!-- virtual joystick -->
        <div class="form-inline" style="text-align: center;">
        
        <div id="joystick_outer" class="thumbnail" style="height:150px;">
          <div id="joystick_container" style="height: 140px; padding: 5px;">
            <p>Click/touch to use joystick.</p>
          </div>
        </div>
       
        </div>
        <div id="control-bars">
          <div>
            <span class="glyphicon glyphicon-resize-horizontal pull-left"></span>
            <div class="progress negative">
              <div id="angle-bar-backward" class="progress-bar progress-bar-warning pull-right" role="progressbar" style="width: 0%;">
              </div>
            </div>

            <div class="progress positive">
              <div id="angle-bar-forward" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
              </div>
            </div>
          </div>

          <div>
            <span class="glyphicon glyphicon-resize-vertical pull-left"></span>
            <div class="progress negative">
              <div id="throttle-bar-backward" class="progress-bar progress-bar-danger pull-right" role="progressbar" style="width: 0%;">
              </div>
            </div>

            <div class="progress positive">
              <div id="throttle-bar-forward" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end joystick-column -->
      </div>
      
      <div class="rightCol" style="text-align: center; width: 280px; height: 600px; float: left;">
        <div id="battery">
          <h1 id="battery-header" style="font-size: 25px;">Battery Percentage</h1>
          <canvas id="batChart" height="100px"></canvas>
        </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <select id="chart-select" class="form-control" style="display: inline">
          <option value="ultrasonic">Ultrasonic</option>
          <option value="tfluna">TF Luna</option>
          <option value="imu">IMU</option>
        </select>
        
        <div id="chartGroup1" class="sensorDataSmall data-container" >
          <div id="tfluna">
            <canvas id="tflChart" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                var tflChart = new Chart("tflChart", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "red",
                      data: [],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: 0, max: 200}}],
                }
              }
            });
            function tflUpdate(data){
              
              var datasets = tflChart.data.datasets;
              //console.log(datasets[0]);
              if(datasets[0].data.length === 20){
                datasets[0].data.shift()
              }
              datasets[0].data.push(Number(data[10]));
              tflChart.datasets = datasets;
              tflChart.update();
            }
            var lastSeen = []
            function checkForChangesTFLuna(){
             
                
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/static/output.txt', false);
                xhr.onreadystatechange = function(){
                  if (xhr.readyState == 4 && xhr.status == 200){
                    var response = JSON.parse(xhr.responseText);
	            //console.log(response);
		    tflUpdate(response);
                    //if (!(lastSeen.length == response.length && lastSeen.every(function(value,index) { return value === response[index]}))){
                      //tflUpdate(response);
                      
                      //lastSeen = response
                    //}
                  }
                  else{
                    console.log("Not Found");
                  }
                }
              
                xhr.send();
                  
                
              };
              setInterval(checkForChangesTFLuna,1000)
              </script>
            </canvas>
          </div>
        </div>
        <div id="chartGroup2" class="sensorDataLarge data-container" >
          <div id="ultrasonic" data-dataRed="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]" data-dataGreen="[2, 2, 5, 4, 8, 4, 7, 6, 3, 1, 0, 6, 7, 8, 9, 14, 13, 12, 11, 10]" data-dataBlue="[14, 12, 9, 14, 15, 16, 10, 9, 9, 6, 7, 5, 6, 8, 9, 10, 9, 13, 7, 6]" data-dataBlack = "[11, 12, 13, 14, 15, 14, 12, 10, 9, 10, 7, 12, 11, 9, 7, 5, 3, 1, 1, 0]">
            <canvas id="uscChart" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                var uscChart = new Chart("uscChart", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "red",
                      data: [],
                      fill: false
                    },{
                      borderColor: "green",
                      data: [],
                      fill: false
                    },{
                      borderColor: "blue",
                      data: [],
                      fill: false
                    },{
                      borderColor: "black",
                      data: [],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: 0, max: 200}}],
                }
              }
            });
            function ultrasonicUpdate(data){
              
              var datasets = uscChart.data.datasets;
              //console.log(datasets[0]);
              if(datasets[0].data.length === 20){
                datasets[0].data.shift();
                datasets[1].data.shift();
                datasets[2].data.shift();
                datasets[3].data.shift();
              }
              datasets[0].data.push(Number(data[0]));
              datasets[1].data.push(Number(data[1]));
              datasets[2].data.push(Number(data[2]));
              datasets[3].data.push(Number(data[3]));
              uscChart.datasets = datasets;
              uscChart.update();
            }
            var lastSeen = []
            function checkForChangesUltra(){
             
                
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/static/output.txt', false);
                xhr.onreadystatechange = function(){
                  if (xhr.readyState == 4 && xhr.status == 200){
                    var response = JSON.parse(xhr.responseText);
		    ultrasonicUpdate(response);
		    //console.log("IN HERE");
		    //console.log(response);
                    //if (!(lastSeen.length == response.length && lastSeen.every(function(value,index) { return value === response[index]}))){
                      //ultrasonicUpdate(response);
                      
                      //lastSeen = response
                    //}
                  }
                  else{
                    console.log("Not Found");
                  }
                }
              
                xhr.send();
                  
                
              };
              setInterval(checkForChangesUltra,1000)
            
              </script>
            </canvas>
          </div>
          <!-- <div id="imu">
            <canvas id="imuChart" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                var imuChart = new Chart("imuChart", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "black",
                      data: [],
                      fill: false
                    },
                    {
                      borderColor: "red",
                      data: [],
                      fill: false
                    },
                    {
                      borderColor: "black",
                      data: [],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: 0, max: 50}}],
                }
              }
            });
            function imuChartUpdate(data){
              
              var datasets = imuChart.data.datasets;
              //console.log(datasets[0]);
              if(datasets[0].data.length === 20){
                datasets[0].data.shift();
                datasets[1].data.shift();
                datasets[2].data.shift();
                
              }
              datasets[0].data.push(Number(data[4]));
              datasets[1].data.push(Number(data[5]));
              datasets[2].data.push(Number(data[6]));
              
              imuChart.datasets = datasets;
              imuChart.update();
            }
            var lastSeen = []
            function checkForChangesimu(){
             
                
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/static/output.txt', false);
                xhr.onreadystatechange = function(){
                  if (xhr.readyState == 4 && xhr.status == 200){
                    var response = JSON.parse(xhr.responseText);
		    imuChartUpdate(response);
                    //if (!(lastSeen.length == response.length && lastSeen.every(function(value,index) { return value === response[index]}))){
                      //imuChartUpdate(response);
                      
                      //lastSeen = response
                    //}
                  }
                  else{
                    console.log("Not Found");
                  }
                }
              
                xhr.send();
                  
                
              };
              setInterval(checkForChangesimu,1000)
              </script>
            </canvas>
          </div> -->
        </div>
        <div id="chartGroup3" class="sensorDataSmall data-container">
          <div id="imu">
            <canvas id="imuChart1" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                var imuChart1 = new Chart("imuChart1", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "blue",
                      data: [],
                      fill: false
                    },
                    {
                      borderColor: "red",
                      data: [],
                      fill: false
                    },
                    {
                      borderColor: "black",
                      data: [],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: -20, max: 20}}],
                }
              }
            });
          
            function imuChartUpdate1(data){
              //console.log("start");
              var datasets1 = imuChart1.data.datasets;
              //console.log(datasets1[0]);
              //console.log(data);
              //console.log("-------")
              if(datasets1[0].data.length === 20){
                datasets1[0].data.shift();
                datasets1[1].data.shift();
                datasets1[2].data.shift();
                
              }
              datasets1[0].data.push(Number(data[4]));
              datasets1[1].data.push(Number(data[5]));
              datasets1[2].data.push(Number(data[6]));
              
              imuChart1.datasets = datasets1;
              imuChart1.update();
            }
            var lastSeen = []
            function checkForChangesimu(){
             
                
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/static/output.txt', false);
                //console.log("before function");
                xhr.onreadystatechange = function(){
                  //console.log("In the function");
                  if (xhr.readyState == 4 && xhr.status == 200){
                    var response = JSON.parse(xhr.responseText);
		    //console.log("before function");
                    imuChartUpdate1(response);
        
                  }
                  else{
                    console.log("Not Found");
                  }
                }
              
                xhr.send();
                  
                
              };
              setInterval(checkForChangesimu,1000)
              </script>
            </canvas>
            <canvas id="imuChart2" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                var imuChart2 = new Chart("imuChart2", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "blue",
                      data: [],
                      fill: false
                    },
                    {
                      borderColor: "red",
                      data: [],
                      fill: false
                    },
                    {
                      borderColor: "black",
                      data: [],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: -180, max: 180}}],
                }
              }
            });
          
            function imuChartUpdate2(data){
              
              var datasets2 = imuChart2.data.datasets;
              //console.log(datasets2[0]);
              console.log("second");
              if(datasets2[0].data.length === 20){
                datasets2[0].data.shift();
                datasets2[1].data.shift();
                datasets2[2].data.shift();
                
              }
              datasets2[0].data.push(Number(data[7]));
              datasets2[1].data.push(Number(data[8]));
              datasets2[2].data.push(Number(data[9]));
              
              imuChart2.datasets = datasets2;
              imuChart2.update();
            }
            var lastSeen = []
            function checkForChangesimu(){
             
                
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/static/output.txt', false);
                xhr.onreadystatechange = function(){
                  if (xhr.readyState == 4 && xhr.status == 200){
                    var response = JSON.parse(xhr.responseText);
                    imuChartUpdate2(response);
                    // if (!(lastSeen.length == response.length && lastSeen.every(function(value,index) { return value === response[index]}))){
                    //   imuChartUpdate(response);
                      
                    //   lastSeen = response
                    // }
                  }
                  else{
                    console.log("Not Found");
                  }
                }
              
                xhr.send();
                  
                
              };
              setInterval(checkForChangesimu,1000)
              </script>
            </canvas>
          </div>
          <!-- <div id="temperature">
            <canvas id="tmpChart" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                new Chart("tmpChart", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "green",
                      data: [2, 2, 5, 4, 8, 4, 7, 6, 3, 1, 0, 6, 7, 8, 9, 14, 13, 12, 11, 10],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: 0, max: 16}}],
                }
              }
            });
              </script>
            </canvas>
          </div> -->
          <!-- <div id="humidity">
            <canvas id="hmdChart" height="400px">
              <script>
                var xValues = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];
                new Chart("hmdChart", {
                  type: "line", 
                  data: {
                    labels: xValues,
                    datasets: [{
                      borderColor: "black",
                      data: [11, 12, 13, 14, 15, 14, 12, 10, 9, 10, 7, 12, 11, 9, 7, 5, 3, 1, 1, 0],
                      fill: false
                    }]
                  },
                options:{
                  legend: {display: false},
                  scales: {yAxes: [{ticks: {min: 0, max: 16}}],
                }
              }
            });
              </script>
            </canvas>
          </div> -->
        </div>
      </div>
      
      <div id="joystick-padding"></div>
     <!-- END row -->
  </div> <!-- END page Container -->

  <footer class="footer" id="vehicle_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button type="button" id="brake_button" class="btn btn-lg btn-success btn-block">Start Vehicle (space)</button>
        </div>
      </div>
    </div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="aboutControlModes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">About Control Modes</h4>
        </div>
        <div class="modal-body">
          <p>
            <strong>Joystick</strong> control is provided via the blue touch/click area on screen. Click or touch and drag to control throttle and steering. In joystick mode, you can also use the following keyboard keys:
            <ul>
              <li>Forward: <code>I</code></li>
              <li>Reverse: <code>K</code></li>
              <li>Left: <code>J</code> </li>
              <li>Right: <code>L</code></li>
            </ul>
          </p>
          <p>
            <strong>Gamepad</strong> control is enabled by the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API">HTML5 gamepad API</a>, currently supported by Chrome and Firefox. Playstation 3 controllers have been confirmed to work.
          </p>
          <p>
            <strong>Device tilt</strong> control is enabled for devices with <a href="https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation">device orientation sensors</a>, and should work with most modern smartphones. Hold your device in landscape mode, tilt  forward/backward for throttle and left/right for steering.
          </p>
          <p>
            <strong>Pilot Mode</strong> can be toggled or chosen using the keyboard.
            <ul>
              <li>Toggle Pilot <b>M</b>ode: <code>M</code></li> 
              <li><b>U</b>ser Mode: <code>U</code></li> 
              <li>Auto <b>S</b>teering  Mode: <code>S</code></li> 
              <li>Full <b>A</b>uto Mode: <code>A</code></li> 
            </ul>
          </p>
          <p>
            <strong>Recording</strong> can be toggled using the keyboard.
            <ul><li>Toggle <b>R</b>ecording: <code>R</code></li></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $( document ).ready(function() {
    console.log( "document ready!" );
    driveHandler.load()
  });
</script>

{% end %}
